{% if not entries %}
<div class="alert alert-info">{{ t('no-results-found') }}</div>
{% else %}
<div class="table-responsive">
  <table class="table table-hover table-condensed table-striped" data-toggle="table" data-sort-name="day" data-sort-order="asc">
    <thead>
      <tr>
        <th data-field="day" data-sortable="true">{{ t('day') }}</th>
        <th data-field="description" data-sortable="true">{{ t('description') }}</th>
        <th data-field="estimated" data-sortable="true">{{ t('estimated-amount') }}</th>
        <th data-field="real" data-sortable="true">{{ t('real-amount') }}</th>
        <th data-field="status" data-sortable="true">{{ t('status') }}</th>
        <th>{{ t('actions') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in entries %}
      <tr
          data-id="{{ entry.id }}"
          data-day="{{ entry.day }}"
          data-description="{{ entry.description }}"
          data-estimated="{{ entry.estimated }}"
          data-real="{{ entry.real }}"
          data-status="{{ entry.status }}"
          data-type="{{ entry.type }}"
      >
          <td>{{ entry.day }}</td>
          <td>{{ entry.description }}</td>
          <td>{{ money(entry.estimated) }}</td>
          {% if not entry.real %}<td>{{ t('not-defined') }}</td>
        </td>
          {% else %}<td class="{% if entry.status != 2 %}text-muted{% endif %}">{{ money(entry.real) }}</td>{% endif %}
          <td>
              {% if entry.status == 2 %}<span class="label label-success">{{ t('commited') }}</span>
              {% else %}<span class="label label-info">{{ t('not-commited') }}</span>{% endif %}
          </td>
          <td>
              <div class="btn-group" role="group" aria-label="...">
                  <button type="button" class="btn btn-xs btn-default commit-button {% if entry.status == 2 %}disabled{% endif %}"><i class="glyphicon glyphicon-check"></i></button>
                  <button type="button" class="btn btn-xs btn-default edit-button"><i class="glyphicon glyphicon-pencil"></i></button>
                  <button type="button" class="btn btn-xs btn-danger remove-button"><i class="glyphicon glyphicon-remove"></i></button>
              </div>
          </td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th colspan="2">{{ t('total') }}</th>
            <th>{{ money(sums.estimated.sum) }}</th>
            <th>{{ money(sums.real.sum) }}</th>
            <th colspan="2"></th>
        </tr>
    </tfoot>
  </table>
</div>
{% endif %}
