<div id="edit_form" class="ui form">

    <input type="hidden" name="_METHOD" value="PATCH" />
    <input type="hidden" name="entrance[edit][id]" />
    <input type="hidden" name="entrance[edit][type]" />

    <div class="field">
      <label for="form-edit-entrance-day">{{ t('day') }}</label>
      <input type="number" name="entrance[edit][day]" id="form-edit-entrance-day" required="required" min="1" max="31" />
    </div>

    <div class="field">
      <label for="form-edit-entrance-description">{{ t('description') }}</label>
      <input type="text" name="entrance[edit][description]" id="form-edit-entrance-description" required="required" />
    </div>

    <div class="field">
      <label for="form-edit-entrance-estimated">{{ t('estimated-amount') }}</label>
      <div class="ui labeled input">
        <div class="ui label">{{ t('currency-prefix') }}</div>
        <input type="number" name="entrance[edit][estimated]" id="form-edit-entrance-estimated" step="any" required="required" min="0" />
      </div>
    </div>

    <div class="field">
      <label for="form-edit-entrance-real">{{ t('real-amount') }}</label>
      <div class="ui labeled input">
        <div class="ui label">{{ t('currency-prefix') }}</div>
        <input type="number" name="entrance[edit][real]" id="form-edit-entrance-real" step="any" min="0" required="required" />
      </div>
    </div>

    <div class="field">
      <label for="form-edit-entrance-status">{{ t('status') }}</label>
      <select name="entrance[edit][status]" id="form-edit-entrance-status" required="required">
        <option value="1">{{ t('not-commited') }}</option>
        <option value="2">{{ t('commited') }}</option>
      </select>
    </div>

</div>
