{% extends 'App/main.twig' %}

{% block messages %}
    {% if flash.success %}<br /><div class="ui positive message">{{ flash.success }}</div>{% endif %}
    {% if flash.error %}<br /><div class="ui negative message">{{ flash.error }}</div>{% endif %}
{% endblock %}

{% block current_data_title %}{{ currentLinkData.month }}/{{ currentLinkData.year }}{% endblock %}

{# buttons #}
{% block current_button %}<a href="javascript:return void(0);">{{ currentLinkData.month }}/{{ currentLinkData.year }}</a>{% endblock %}

{% block previous_button %}<a href="{{ siteUrl(urlFor('main', previousLinkData)) }}">{{ previousLinkData.month }}/{{ previousLinkData.year }}</a>{% endblock %}

{% block next_button %}<a href="{{ siteUrl(urlFor('main', nextLinkData)) }}">{{ nextLinkData.month }}/{{ nextLinkData.year }}</a>{% endblock %}
{# /buttons #}

{% block statistics %}
    {{ include('shared/resume.twig', {sums: sums}) }}
{% endblock %}

{% block entrance %}
    {{ include('Main/_entrance_area.twig', { title: t('entrance'), entries: entrances, sums: sums.entrance, link: 'add-entrance' }) }}
{% endblock %}

{% block out %}
    {{ include('Main/_entrance_area.twig', { title: t('out'), entries: outs, sums: sums.out, link: 'add-out' }) }}
{% endblock %}


{% block footer %}
    {% for item in ['edit_dialog', 'check_dialog', 'remove_dialog'] %}
        <script id="{{ 'template-' ~ item }}" type="x-tmpl-mustache">
            {%- include 'Main/_' ~ item ~ '.mustache.twig' %}
        </script>
    {% endfor %}
{% endblock %}
