{% extends 'App/main.twig' %}

{% block messages %}
	{% if flash.success %}<br /><div class="ui positive message">{{ flash.success }}</div>{% endif %}
	{% if flash.error %}<br /><div class="ui negative message">{{ flash.error }}</div>{% endif %}
{% endblock %}

{% block current_data_title %}{{ currentLinkData.month }}/{{ currentLinkData.year }}{% endblock %}

{% block current_button %}
  <a href="javascript:return void(0);">{{ currentLinkData.month }}/{{ currentLinkData.year }}</a>
{% endblock %}

{% block previous_button %}
	<a href="{{ siteUrl(urlFor('main', previousLinkData)) }}">{{ previousLinkData.month }}/{{ previousLinkData.year }}</a>
{% endblock %}

{% block next_button %}
	<a href="{{ siteUrl(urlFor('main', nextLinkData)) }}">{{ nextLinkData.month }}/{{ nextLinkData.year }}</a>
{% endblock %}

{% block statistics %}
  {{ include('shared/resume.twig', {sums: sums}) }}
{% endblock %}

{% block entrance %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
      		{{ t('entrance') }}

      		<a href="#" id="add-entrance" class="btn btn-default btn-xs pull-right">
            <i class="glyphicon glyphicon-plus"></i>
            {{ t('add-entrance') }}
          </a>
      </div>
      {{ include('shared/results.twig', { entries: entrances, sums: sums.entrance }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block out %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
      		{{ t('out') }}

      		<a href="#" id="add-out" class="btn btn-default btn-xs pull-right">
            <i class="glyphicon glyphicon-plus"></i>
            {{ t('add-out') }}
          </a>
      </div>
      {{ include('shared/results.twig', { entries: outs, sums: sums.out }) }}
    </div>
  </div>
</div>
{% endblock %}


{% block footer %}
  {% for item in ['edit_dialog', 'check_dialog', 'remove_dialog'] %}

    <script id="{{ 'template-' ~ item }}" type="x-tmpl-mustache">
      {%- include 'Main/_' ~ item ~ '.mustache.twig' %}
    </script>

  {% endfor %}
{% endblock %}
