{% extends 'App/main.twig' %}

{% block current_data_title %}{{ currentLinkData.month }}/{{ currentLinkData.year }}{% endblock %}

{% block previous_button %}
	<a href="{{  siteUrl(urlFor('main', previousLinkData)) }}" class="ui fluid button">
		{{ previousLinkData.month }}/{{ previousLinkData.year }}
	</a>
{% endblock %}

{% block next_button %}
	<a href="{{  siteUrl(urlFor('main', nextLinkData)) }}" class="ui fluid button">
		{{ nextLinkData.month }}/{{ nextLinkData.year }}
	</a>
{% endblock %}

{% block entrance %}
	<h2 class="header">
		{{ t('entrance') }}
		<a href="#" id="add-entrance" class="ui mini button right floated">
			<i class="plus icon"></i> {{ t('add-entrance') }}
		</a>
	</h2>
    {{ include('shared/results.twig', {entries: entrances}) }}
{% endblock %}

{% block out %}
	<h2 class="header">
		{{ t('out') }}
		<a href="#" id="add-out" class="ui mini button right floated">
			<i class="plus icon"></i> {{ t('add-out') }}
		</a>
	</h2>
	
    {{ include('shared/results.twig', {entries: outs}) }}
{% endblock %}


{% block footer %}
	{% include 'shared/modal.twig' %}
	{% include 'Main/add_entrance_form.twig' %}

	<script src="/public/components/jquery/dist/jquery.min.js"></script>
	<script src="/public/components/semantic-ui/dist/semantic.min.js"></script>
	<script src="/public/main.js"></script>
{% endblock %}