{% extends 'App/login.twig' %}

{% block content %}

{{ loginBackground()|raw }}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="wrap">
        <h1 class="page-title">{{ t('login-in-system') }}</h1>

        <form action="{{ siteUrl(urlFor('login')) }}" method="post" class="form-login">

          {% if flash.loginerror %}
            <div class="alert alert-warning">{{ t('invalid-login-or-password') }}</div>
          {% endif %}

          <input type="text" name="username" class="form-control" placeholder="{{ t('user') }}" autofocus required />
          <input type="password" name="password" class="form-control" placeholder="{{ t('password') }}" required />
          <button type="submit" class="btn btn-block btn-success">{{ t('login') }}</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
