{% if not entries %}
<div class="ui warning message">{{ t('no-results-found') }}</div>
{% else %}
<table class="ui compact table">
	<thead>
		<tr>
    		<th class="one wide">{{ t('day') }}</th>
    		<th class="six wide">{{ t('description') }}</th>
    		<th class="two wide">{{ t('estimated-amount') }}</th>
    		<th class="two wide">{{ t('real-amount') }}</th>
    		<th class="two wide">{{ t('status') }}</th>
    		<th class="two wide">{{ t('actions') }}</th>
		</tr>
	</thead>
	<tbody>
        {% set totalEstimated = 0 %}
        {% set totalReal = 0 %}

        {% for entry in entries %}

        {% set totalEstimated = totalEstimated + entry.estimated %}
        {% set totalReal = totalReal + entry.real %}
        <tr
            data-id="{{ entry.id }}"
            data-day="{{ entry.day }}"
            data-estimated="{{ entry.real ? entry.real : entry.estimated }}">
            <td>{{ entry.day }}</td>
            <td>{{ entry.description }}</td>
            <td>{{ money(entry.estimated) }}</td>
            {% if not entry.real %}<td class="disabled">{{ t('not-defined') }}</td>
            {% else %}<td>{{ money(entry.real) }}</td>{% endif %}
            </td>
            <td>
                {% if entry.status == 2 %}<span class="ui green label">{{ t('commited') }}</span>
                {% else %}<span class="ui orange label">{{ t('not-commited') }}</span>{% endif %}
            </td>
            <td>
                <div class="ui icon mini buttons">
                    {% if entry.status != 2 %}
                    <button type="button" class="ui button commit-button"><i class="check icon"></i></button>
                    {% endif %}
                    <button type="button" class="ui negative button remove-button"><i class="remove icon"></i></button>
                </div>
            </td>
        </tr>
        {% endfor %}
	</tbody>
    <tfoot>
        <tr>
            <th colspan="2">Total</th>
            <th>{{ money(totalEstimated) }}</th>
            <th>{{ money(totalReal) }}</th>
            <th colspan="2"></th>
        </tr>
    </tfoot>
</table>
{% endif %}