<!DOCTYPE html>
{% set current_data_title %}{% block current_data_title %}{% endblock %}{% endset %}
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ current_data_title }} - {{ t('title') }}</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/public/assets/css/bootstrap.min.css" />
    <!-- <link rel="stylesheet" href="/public/assets/css/bootstrap-theme.min.css" /> -->
    <link rel="stylesheet" href="/public/assets/css/bootstrap-table.min.css" />
    <link rel="stylesheet" href="/public/assets/css/formValidation.min.css" />
    <link rel="stylesheet" href="/public/assets/css/main.css" />
    {% block header %}{% endblock %}
  </head>
  <body>

    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aira-explaned="false">
            <span class="sr-only">{{ t('toggle_navigation') }}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand" title="{{ t('title') }}">{{ t('title') }}</a>
        </div>
        <div class="collapse navbar-collapse" id="main-menu">
          <ul class="nav navbar-nav">
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              {{ t('navigate') }}
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>{% block previous_button %}{% endblock %}</li>
                <li class="disabled">{% block current_button %}{% endblock %}</li>
                <li>{% block next_button %}{% endblock %}</li>
              </ul>
            </li>
            <li><a href="/import">{{ t('import') }}</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">{{ t('logout') }}</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="page-header">
            {{ t('title') }}
            <small>{{ current_data_title }}</small>
          </h1>
        </div>
      </div>
    </div>

    <div class="container-fluid">
    	{% block messages %}{% endblock %}

    	{% block statistics %}{% endblock %}

    	{% block entrance %}{% endblock %}

    	{% block out %}{% endblock %}
    </div>

    {% block footer %}{% endblock %}

    <script src="/public/assets/js/mustache.min.js"></script>
    <script src="/public/assets/js/jquery.min.js"></script>
    <script src="/public/assets/js/bootstrap.min.js"></script>
    <script src="/public/assets/js/bootbox.js"></script>
    <script src="/public/assets/js/i18n.js"></script>
    <script src="/public/assets/js/jquery.maskMoney.min.js"></script>

    <script src="/public/assets/js/formValidation.min.js"></script>
    <script src="/public/assets/js/framework/bootstrap.min.js"></script>
    <script src="/public/assets/js/language/pt_BR.js"></script>

    <script src="/public/assets/js/bootstrap-table.min.js"></script>
    <script>
      jQuery.fn.bootstrapTable.defaults.locale = 'pt_BR';
      jQuery.fn.bootstrapTable.defaults.striped = true;
      jQuery.fn.bootstrapTable.defaults.search = true;
      jQuery.fn.bootstrapTable.defaults.showHeader = true;
      jQuery.fn.bootstrapTable.defaults.showToggle = true;
      jQuery.fn.bootstrapTable.defaults.sortable = true;
    </script>
    <script src="/public/assets/js/bootstrap-table-locale-all.min.js"></script>

    <script>window.i18n({{ translations()|raw }});</script>
    <script src="/public/assets/js/main.js"></script>

  </body>
</html>
